.rm-input-select {
    height: 56px;
    display: flex;
    flex-direction: row;
    outline: none;
    // border: 1px solid #5E6488;
    border-radius: 8px;

    &.active {
        border: 2px solid #5E6488;
    }

    &.inactive {
        border: 1px solid #5E6488;
    }

    &__sel {
        padding: 8px 16px 8px 16px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        box-sizing: border-box;
        height: 100%;
        width: 140px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        border-left: 1px solid #5E6488;
        border-top: 1px solid #5E6488;
        border-bottom: 1px solid #5E6488;
    }

    &__inp {
        padding: 8px 16px 8px 16px;
        box-sizing: border-box;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        width: 100%;
        border: 1px solid #5E6488;
        display: flex;
        flex-direction: column;

        &.active {
            border: 2px solid #5E6488;
        }

        .label {
            color: #5E6488;
            font-size: 12px;
            font-weight: 400;
        }

        .rminput {
            outline: none;
            border: none;
            width: 100%;
            font-size: 16px;
            box-sizing: border-box;
            color: #03050F;
            line-height: 24px;
            font-weight: 400;
        }
    }
}