.cp {
    cursor: pointer;
}

.message-error-form {
    color: var(--rm-color-error);
    font-size: 12px;
    font-weight: 400;
}



/* Codigo para el eliminar las botones de disminuir y aumentar */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


/* Clase para centar spinner */
.container-g-spinner-center{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}